@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 768px) {
  .spline-wrapper {
    height: 350px !important;
  }
}

@media (max-width: 480px) {
  .spline-wrapper {
    height: 280px !important;
    
  }
  .spline-model {
  width: 100%;
  height: 100%;
}
  /* .ancor-class{
    display: none;
  } */
  .spline-model canvas {
    transform: scale(0.5);
    transform-origin: center;
  }
}

/* @keyframes shineMove {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.nav-shine {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(248, 251, 164, 0.2), transparent);
  animation: shineMove 7s infinite linear;
} */

